<!-- Portfolio Details Section -->
<section id="portfolio-details" class="portfolio-details section">

    <div class="container" data-aos="fade-up">
        <div data-aos="fade-up" class="d-flex justify-content-center">
            <div class="portfolio-description">
                <h1><strong>{{this.detailCountry[0].name.official}}</strong></h1>
            </div>
        </div>

        <div class="portfolio-details-slider swiper init-swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"
                    style="display: flex; justify-content: space-around; align-items: center; margin-top: 50px;">
                    <div class="card-group">
                        <div class="card col-lg-6 d-flex justify-content-center align-items-center"
                            style="background-color: #ffffff21; padding: 5%; margin: 2%;">
                            <img src="{{this.detailCountry[0].flags.svg}}" class="card-img-top" alt="...">
                            <div>
                                <li style="color: rgb(255, 255, 255);"><strong>Bandera</strong></li>
                            </div>
                        </div>
                        <div class="card col-lg-6 d-flex justify-content-center align-items-center"
                            style="background-color: #ffffff21; padding: 5%; margin: 2%;">
                            <img src="{{this.detailCountry[0].coatOfArms.svg}}" class="card-img-top" alt="...">
                            <div>
                                <li style="color: rgb(255, 255, 255);"><strong>Escudo</strong></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p style="padding-right: 5%; padding-left: 5%;">
            {{this.detailCountry[0].flags.alt}}
        </p>

        <div class="row justify-content-between gy-4 mt-4">


            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100" style="padding: 5%;">
                <div class="portfolio-info">
                    <h3>{{this.detailCountry[0].name.common}}</h3>
                    <ul>
                        <li><strong>Capital</strong> {{this.detailCountry[0].capital[0]}}</li>
                        <li><strong>Continente</strong> {{this.detailCountry[0].continents[0]}}</li>
                        <li><strong>Lenguaje</strong> {{this.detailCountry[0].languages.spa}} </li>
                        <li><strong>Km2</strong> {{this.detailCountry[0].area}} Km2</li>
                        <li><strong>Habitantes</strong> {{this.detailCountry[0].population}}</li>
                        <li><strong>Nombre de moneda</strong> {{this.detailCountry[0].currencies.COP.name}}</li>
                        <li><strong>Simbolo</strong> {{this.detailCountry[0].currencies.COP.symbol}}</li>
                        <li><strong>Zona horaria</strong> {{this.detailCountry[0].timezones[0]}}</li>
                        <li><strong>Dominio de nivel superior</strong> {{this.detailCountry[0].tld[0]}}</li>
                        <li><strong>Dia que inicia la semana</strong> {{this.detailCountry[0].startOfWeek}}</li>
                        <li><strong>Limites</strong> <span *ngFor="let border of countryBorders"><a href="/detail-country/{{ border }}">{{border}}</a></span></li>
                        <li><strong>Independizado</strong><span
                                *ngIf="this.detailCountry[0].independent == true">Si</span> <span
                                *ngIf="this.detailCountry[0].independent == false">No</span></li>
                        <li><strong>Link de maps</strong><a href="{{this.detailCountry[0].maps.googleMaps}}">{{this.detailCountry[0].maps.googleMaps}}</a></li>
                        <li><strong>Link de openStreetMaps</strong><a href="{{this.detailCountry[0].maps.openStreetMaps}}">{{this.detailCountry[0].maps.openStreetMaps}}</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-8" data-aos="fade-up" style="padding: 5%;">
                <div class="portfolio-description">
                    <h2>Traducciones en diferentes idiomas</h2>
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>Código de lenguaje</th>
                                <th>Nombre oficial</th>
                                <th>Nombre común</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let language of languages">
                                <td><a href="/detail-country/{{ language.code }}">{{ language.code }}</a></td>
                                <td>{{ language.official }}</td>
                                <td>{{ language.common }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</section><!-- /Portfolio Details Section -->